<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>ネットプリントボックス ファイル一覧</title>
        <style>
            <!--
            li p span {
                padding-left: 1em;
            }
            -->
        </style>
    </head>
    <body>
        <ol>
        {{for loop, item in looper(item_list)}}
            <li>
                <p>
                    <span>{{item['name']}}</span>
                    <span>{{item['id']}}</span>
                    {{if item['controlled']}}
                    <span>{{item['last_modified']}}</span>
                    {{else}}
                    <span>ネットプリントのみに登録されています</span>
                    {{endif}}
                </p>
            </li>
        {{endfor}}
        </ol>
    </body>
</html>
