<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/css/page.css" type="text/css" />
        <title>Step2(of 2): セットアップ完了</title>
    </head>
    <body>
        <h1><a href="{{route_path('top')}}">ネットプリントボックス</a></h1>
        <h2>Step2(of 2): セットアップ完了</h2>
        <p>セットアップは完了しました。</p>
        <p>このページを閉じても大丈夫です。</p>
        <h3>ファイルを登録してみよう</h3>
        <p>用紙サイズのフォルダにファイルを置くと自動でネットプリントへ登録するようになりました。</p>
        <p>また、今の使われ方をあらわす最新のレポートも作成されるようになりました。時間がかかることがあるので、しばらくお待ちください。</p>
    </body>
</html>
