<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/css/page.css" type="text/css" />
        <title>step1:ネットプリントユーザ情報の登録</title>
    </head>
    <body>
        <h1>step1:ネットプリントユーザ情報の登録</h1>
        {{if error}}
        <p class="error">ネットプリントユーザ情報が正しく読み取れませんでした。</p>
        {{else}}
        <p>Dropbox内の「/Apps/ネットプリント」へフォルダを作成し、その中へ設定ファイル(account.ini)を配置しました。</p>
        {{endif}}
        <p>設定ファイル(account.ini)にネットプリントのID/パスワードを記入してください。</p>
        <p>ネットプリントのユーザ情報を入力したら、リンクをクリック。</p>
        <p class="next_link"><a href="/guide/setup?key={{key}}">&gt;&gt;次へ</a></p>
    </body>
</html>
