{{inherit "page.html"}}
{{def extra_head}}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="http://twitter.github.com/bootstrap/1.4.0/bootstrap-alerts.js"></script>
{{enddef}}
{{def title}}Step1(of 2): ネットプリントユーザ情報の登録{{enddef}}
{{def content}}
<div class="container">
    <section id="step1">
        <div class="row">
            <div class="span16">
                <h3>{{title}}</h3>
                {{if error}}
                <div class="alert-message error fade in" data-alert="alert">
                    <a class="close" href="#">×</a>
                    <p>ネットプリントユーザ情報が正しく読み取れませんでした。</p>
                </div>
                {{else}}
                <div class="alert-message info fade in" data-alert="alert">
                    <a class="close" href="#">×</a>
                    <p>Dropbox内の「/Apps/ネットプリント」へフォルダを作成し、その中へ設定ファイル(account.ini)を配置しました。</p>
                </div>
                {{endif}}
                <p>設定ファイル(account.ini)にネットプリントのID/パスワードを記入して、下のボタンを押してください。</p>
                <a class="btn info" href="{{route_path('setup_guide')}}">次へ</a>
            </div>
        </div>
    </seciton>
</div>
{{enddef}}
