{{inherit "page.html"}}
{{def title}}Dropboxでネットプリント{{enddef}}
{{def content}}
{{if user is not None}}
<div class="topbar">
    <div class="topbar-inner">
        <div class="container">
            <a class="brand" href="{{route_path('top')}}">ネットプリントボックス</a>
            <ul class="nav">
                <li><a href="{{route_path('list_file')}}">ファイル一覧</a></li>
            </ul>
        </div>
    </div>
</div>
{{endif}}
<div>
    <a target="_blank" href="http://github.com/jbking/netprintbox"><img style="position: fixed; z-index: 10001; top: 0; right: 0; border: 0;" src="http://a248.e.akamai.net/assets.github.com/img/30f550e0d38ceb6ef5b81500c64d970b7fb0f028/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67" alt="Fork me on GitHub"></a>
</div>
<div class="container">
    <section id="overview">
        <div class="row">
            <div class="span16">
                <p>Dropboxでネットプリントへファイルの登録削除ができるサービスのα版です。</p>
                <a class="btn info" href="{{route_path('login')}}">ログインする</a>
            </div>
        </div>
    </section>
    <h2>セットアップ</h2>
    <section id="setup">
        <div class="row">
            <div class="span16">
                <ol>
                    <li><p>下のボタンを押すとDropboxのページへ飛びます。連携を許可することで、このサービスがあなたのDropboxと動作するようになります。</p></li>
                    <li><p>連携が始まったら簡単なセットアップを行い完了です。</p></li>
                    <!--
                    <li>
                        <p>セットアップが終わると、それぞれの用紙サイズ(A4, A3, B4, B5, L)にサブフォルダが作成されます。</p>
                        <p>用紙サイズのサブフォルダのいずれかに印刷したいファイルを置くと、ネットプリントにファイルが登録されます。</p>
                    </li>
                    <li><p>ファイルが登録されるとレポートが作成されます。</p></li>
                    -->
                </ol>
                <a class="btn info" href="{{route_path('authorize')}}">サービスの利用を開始する</a>
            </div>
        </div>
    </section>
    <h2>おもな特徴</h2>
    <section id="feature">
        <div class="row">
            <div class="span8">
                <h3>ファイルの同期<span class="label important">重要</span></h3>
                <p>登録したファイルはネットプリント上の登録と同期しています。Dropboxかネットプリントでファイルが削除されると、もう片方の登録も削除されます。</p>
            </div>
            <div class="span8">
                <h3>対応しているファイルフォーマット</h3>
                <p>ネットプリントと同じです。</p>
            </div>
        </div>
        <div class="row">
            <div class="span8">
                <h3>レポート</h3>
                <p>Dropboxのなかにスマートフォン向けのレポートが自動で作成されます。予約番号も載ってます。</p>
            </div>
            <div class="span8">
                <h3>自動で再登録<span class="label">オプション</span></h3>
                <p>自動でネットプリントへ再登録するかどうかを、ファイルごとに設定することができます。</p>
            </div>
        </div>
    </section>
    <h2>そのほか</h2>
    <section id="about">
        <div class="row">
            <div class="span8">
                <h3>バックエンド</h3>
                <p>このサービスのGoogle App Engine上で稼働しています。</p>
                <p><img src="http://code.google.com/intl/ja/appengine/images/appengine-silver-120x30.gif" alt="Powered by Google App Engine" /></p>
            </div>
            <div class="span8">
                <h3>コードのライセンス</h3>
                <p>このサービスのコードはgithub上で、"GNU Affero General Public License"のもと<a target="_blank" href="http://github.com/jbking/netprintbox">公開</a>しています。</p>
            </div>
        </div>
        <div class="row">
            <div class="span8">
                <h3>作者連絡先</h3>
                <address>
                    yusuke[at]jbking.org
                    <a target="_blank" href="http://twitter.com/jbking">@jbking</a>
                </address>
            </div>
        </div>
    </section>
</div>
{{enddef}}
